<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Chronos.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Chronos.My.MySettings>
            <setting name="DataBase" serializeAs="String">
                <value />
            </setting>
            <setting name="TVA" serializeAs="String">
                <value>0.077</value>
            </setting>
            <setting name="DataBaseLine" serializeAs="String">
                <value />
            </setting>
            <setting name="DataBasePassword" serializeAs="String">
                <value />
            </setting>
            <setting name="Db_TimeSheet_FilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="Db_TimeSheet_Password" serializeAs="String">
                <value />
            </setting>
            <setting name="Db_TimeSheet_Line" serializeAs="String">
                <value />
            </setting>
            <setting name="LoadDirectly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Stored_Line" serializeAs="String">
                <value />
            </setting>
            <setting name="Stored_FilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="Stored_Password" serializeAs="String">
                <value />
            </setting>
            <setting name="Enable_Reset" serializeAs="String">
                <value>False</value>
            </setting>
        </Chronos.My.MySettings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>